
/* element */
body {
    padding: 2px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: #701b1b;
    text-align: center;}
/* responsiveness: images */
    img {margin: auto;
        display:block;
        width:40%;
        min-width: none;}
    ul {
    text-align: center;
    list-style-position: inside;}
    ol {
    list-style-position: inside;}
    table {
    margin-left: auto;
    margin-right: auto;}
/* class */
.h {
    font-weight:bolder}
.logo {
    max-width: 20%;
}

nav {
    padding: 4px;
    background-color: #ddd}

header {
    background-color: #ddd;}

/* responsiveness: flexbox */
.flex-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    padding: 4px;}

/* ID */
#resources {
    background-color: #ddd;
    padding: 15px;
    border-radius: 10px;
    color: black;}

